In [ ]:
https://www.espncricinfo.com/records/highest-career-batting-average-282910

In [105]:
import pandas as pd

In [107]:
df = pd.read_csv('Downloads/CricketTestMatchData.csv',delimiter=';')

In [109]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [111]:
df.rename(columns={'NO':'Not_Outs','HS':'highest_inns_score','BF':'balls_faced','SR':'batting_strike_rate','4s':'boundary_fours','6s':'boundary_sixes'},inplace=True)

In [113]:
#check NULL value
df.isnull().any()

Player                 False
Span                   False
Mat                    False
Inns                   False
Not_Outs               False
Runs                   False
highest_inns_score     False
Ave                    False
balls_faced             True
batting_strike_rate    False
100                    False
50                     False
0                      False
boundary_fours         False
boundary_sixes         False
dtype: bool

In [293]:
filt=(df['balls_faced'].isna()==True)
df.loc[filt]

,Player,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year,Country
7,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2,1948,1958,WI
13,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11,1948,1960,WI
56,Hon.FS Jackson,20,33,4,1415,144,48.79,NaN,0.0,5,6,3,51+,0,1893,1905,ENG

In [295]:
df['balls_faced']=df['balls_faced'].fillna(0)

In [297]:
df[df['Player']=='CL Walcott (WI)']

Empty DataFrame
Columns: [Player, Mat, Inns, Not_Outs, Runs, highest_inns_score, Ave, balls_faced, batting_strike_rate, 100, 50, 0, boundary_fours, boundary_sixes, Rookie_Year, Final_Year, Country]
Index: []

In [121]:
#drop duplicates

In [123]:
df.duplicated().head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [125]:
filt1=df['Player'].duplicated()==1
df.loc[filt1]

,Player,Span,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11
33,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88

In [127]:
duplicate_name=['CL Walcott (WI)','BC Lara (ICC/WI)']
df[df['Player'].isin(duplicate_name)]

,Player,Span,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11
26,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88
33,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88

In [129]:
df=df.drop_duplicates()

In [131]:
df

,Player,Span,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [133]:
duplicate_name=['CL Walcott (WI)','BC Lara (ICC/WI)']
df[df['Player'].isin(duplicate_name)]

,Player,Span,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11
26,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88

In [135]:
#split up Span into Start and End Date
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
4     [1924, 1935]
          ...
60    [1965, 1981]
61    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [137]:
df['Rookie_Year']=df['Span'].str.split(pat='-').str[0]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14880\1740907504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rookie_Year']=df['Span'].str.split(pat='-').str[0]

In [139]:
df['Final_Year']=df['Span'].str.split(pat='-').str[1]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14880\1405677318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Final_Year']=df['Span'].str.split(pat='-').str[1]

In [141]:
df

,Player,Span,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [145]:
df=df.drop(columns='Span')

In [147]:
df

,Player,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [163]:
#split the country out of the name
df['Player'].str.split(pat=['()'])
df['Name']=df['Player'].str.split(pat='(').str[0]
df['Country']=df['Player'].str.split(pat='(').str[1]

In [165]:
df

,Player,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year,Name,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS)
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS)
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA)
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI)
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS)
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA)
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS)
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS)
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG)

In [167]:
df['Country'].str.split(')')
df['Country']=df['Country'].str.split(')').str[0]

In [179]:
df

,Player,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
3,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI
4,H Sutcliffe,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG

In [207]:
df.dtypes

Player                  object
Mat                     object
Inns                     int64
Not_Outs                 int64
Runs                     int64
highest_inns_score      object
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                        int64
boundary_fours          object
boundary_sixes          object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [203]:
df['highest_inns_score']=df['highest_inns_score'].str.split(pat='*').str[0]

In [211]:
df['highest_inns_score']=df['highest_inns_score'].astype('int')

In [231]:
#change the type of Rookie_Year and Final_Year to int
df[['Rookie_Year','Final_Year']]=df[['Rookie_Year','Final_Year']].astype('int')

In [239]:
df['Mat']=df['Mat'].str.split('*').str[0]
df['Mat']=df['Mat'].astype('int')

In [243]:
df.dtypes

Player                  object
Mat                      int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
highest_inns_score       int64
Ave                    float64
balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                        int64
boundary_fours          object
boundary_sixes          object
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [301]:
df['balls_faced']=df['balls_faced'].str.split('+').str[0]

In [309]:
df['balls_faced']=df['balls_faced'].fillna(0)

In [313]:
df['balls_faced']=df['balls_faced'].astype('int')

In [315]:
df.dtypes

Player                  object
Mat                      int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
highest_inns_score       int64
Ave                    float64
balls_faced              int64
batting_strike_rate    float64
100                      int64
50                       int64
0                        int64
boundary_fours          object
boundary_sixes          object
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [317]:
## Build career_length columns
df['Career_length']=df['Final_Year']-df['Rookie_Year']

In [319]:
df

,Player,Mat,Inns,Not_Outs,Runs,highest_inns_score,Ave,balls_faced,batting_strike_rate,100,50,0,boundary_fours,boundary_sixes,Rookie_Year,Final_Year,Country,Career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS,20
1,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
2,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,7
3,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI,24
4,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG,11
5,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG,8
6,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG,13
7,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI,10
8,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG,20
9,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI,20
10,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
11,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
12,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG,22
13,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI,12
15,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG,18
16,Saud Shakeel,12,23,3,1126,208,56.30,2413,46.66,3,6,1,123,1,2022,2024,PAK,2
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG,8
19,KS Williamson,101,178,17,8828,251,54.83,17156,51.45,32,35,11,978,26,2010,2024,NZ,14
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI,5
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA,16
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND,24
25,HC Brook,18,30,1,1558,186,53.72,1795,86.79,5,9,1,181,26,2022,2024,ENG,2
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK,17
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS,9
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND,16
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,JE Root,146,267,22,12402,254,50.62,21785,56.92,34,64,12,1343,44,2012,2024,ENG,12
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI,17
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG,20
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
47,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI,15
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG,17
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
51,DJ Mitchell,24,39,5,1673,190,49.20,3126,53.51,5,11,1,166,30,2019,2024,NZ,5
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
54,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA,5
55,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA,20
56,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51+,0,1893,1905,ENG,12
57,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
58,V Kohli,114,193,11,8871,254,48.74,15967,55.55,29,30,14,993,26,2011,2024,IND,13
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS,15
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS,16
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS,10
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS,8
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [ ]:
## Calculation with the dataframe

In [323]:
#Ques1: Cricketers in this DF what is the Average career length
df['Career_length'].mean()

np.float64(13.031746031746032)

In [327]:
#Ques2: AVG Batting_Strike_Rate for cricketers who played over 10 years
df[df['Career_length']>10]['batting_strike_rate'].mean()

np.float64(47.9565909090909)

In [333]:
#Ques3: find the number of cricketers who played before 1960
df[df['Rookie_Year']<1960]['Player'].count()

np.int64(23)

In [349]:
#Ques4: Max height Inns Score by country
df.groupby('Country')['highest_inns_score'].max().to_frame('HighInCountry').reset_index().sort_values('HighInCountry')

    Country  HighInCountry
12      ZIM            232
7        NZ            251
6       IND            254
4    ICC/SA            277
9        SA            278
8       PAK            313
2   ICC/IND            319
3   ICC/PAK            329
1       ENG            364
11       WI            365
10       SL            374
0       AUS            380
5    ICC/WI            400

In [ ]:
#Ques5: Hundreds, fifties, ducks (0) AVG by country

In [351]:
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      12.692308  21.230769   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  23.000000   6.000000
PAK      17.600000  23.600000   7.800000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000